[Desktop Entry]
Type=Application
Exec=sudo -u redo backtrail-app
Name=Backtrail
Comment=Backup and recovery
Categories=Utility;
Icon=backtrail
Keywords=system;backup;restore;
StartupNotify=false
