[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=xfce4-appfinder
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Launcher
Comment=Program start menu
NoDisplay=true
